---

- name: systemd-resolved | remove resolvconf
  tags:
    - resolver
    - package
  package:
    state: absent
    purge: yes
    name: 
      - resolvconf
      - openresolv

- name: systemd-resolved | glibc NSS module
  tags:
    - resolver
    - package
  package:
    name: libnss-resolve

- name: systemd-resolved | nsswitch.conf
  replace:
    path: /etc/nsswitch.conf
    regexp: 'resolve (\[.*\])?'
    replace: ""

- name: systemd-resolved | config
  tags:
    - resolver
    - config
  template:
    src: resolved.conf.j2
    dest: /etc/systemd/resolved.conf
  notify: restart resolved

- name: systemd-resolved | check resolvectl
  stat:
    path: /usr/bin/resolvectl
  register: ctl_stat

- name: systemd-resolved | emulate resolvconf
  tags:
    - resolvconf
  file:
    src: /usr/bin/resolvectl
    dest: /sbin/resolvconf
    state: link
  when: ctl_stat.stat.exists is defined and ctl_stat.stat.exists

- name: systemd-resolved | dhclient hook
  tags:
    - hook
  copy:
    src: resolvconf
    dest: /etc/dhcp/dhclient-enter-hooks.d/
  when: ctl_stat.stat.exists is defined and ctl_stat.stat.exists

- name: systemd-resolved | service
  tags:
    - resolver
    - service
  service:
    name: systemd-resolved
    state: started
    enabled: yes
  notify: use resolved